html,
body {
    height: 100%;
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form {
    background-color: beige;
    padding: 20px;
    box-shadow: 10px 10px 8px #888888;
}

.form span {
    font-weight: bold;
}


/* tarpas po dropdown meniu */
#pasirinkimas {
    margin-bottom: 20px;
}

/* default reiksme */
#textOutput {
    opacity: 0;
}