
body, html {
    height: 100%;
    width: 100%;
margin:0;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    height: 100%;
}

#testing {
    width: 10%;
    height: 100px;
    background-color: gray;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    transition: all 1000ms linear;
}

#testing:hover {
    background-color: red;
    transition: all 1000ms linear;
}